*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
table,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #495057; /* Dark gray text */
    line-height: 1.6;
}

header {
    background-color: #007bff; /* Primary blue color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    header nav {
        text-align: center;
    }

    header nav ul {
        display: block;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 15px;
    }
}
